*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     margin: 0;

}


body{
    background: #fff;
    margin: 0;
    padding: 0;
    direction: rtl;
}

html{
    font-weight: 300;
    font-size: .9em;
    font-family: IRANSans;

}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.main{
    width: 1110px; 
    margin: 0 auto;   

}

input,textarea{
    font-family: inherit;
}



/* Navigation */

header{
    position:fixed;
    top:0;
    right:0;
    text-align:center;
    width:100%;
    z-index:2;
    display: block;
    height: 95px;
    background: rgba(238, 253, 236, 0.9);
}

.top_menu{
    display:flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}


.nav_right {
    display:flex;

}

.nav_right span > a{
    color: #53a060;
    border-bottom: #53a060 solid;
    padding-bottom: 9px;
    font-weight: bold;

}
.nav_right > li{
    display:flex;
    color:#000;
    margin:0px 5px;
    padding: 34px 15px;
}
.nav_right > li > a{
    color:#000;
    padding:0px 5px;
    transition:color ease 0.4s;
    position:relative;
    cursor: pointer;
    font-weight: bold;
}
.nav_right > li > a::before{
    content:"";
    position:absolute;
    width:0;
    height:2px;
    border-radius:999px;
    right:0px;
    left:0px;
    bottom:-3px;
    background:#53a060;
    text-align:center;
    margin:0 auto;
    transition:all ease 0.4s;
  
}
.nav_right > li > a:hover::before{
    width:100%;
    transition:all ease 0.4s;
}

.nav_left{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.nav_left i{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: #000;
    text-align: center;
    padding: 10px 0px;
}

.nav_left i:hover{
    background: #53a060;
    transition:all ease 0.3s;
}

.nav_left a{
    padding: 24px 5px;
}

/* main slider */

.slider{

    position: relative;
    background-size: cover;
    /* owl doesn't support rtl direction  */
    direction: ltr;
}

.slider_items{
    display: flex;
    align-items: center;
}

.slider .slider_desc{
    text-align: center;
    width: 50%;
    padding: 0px 90px;

   
}

.slider_desc h2{
    padding-bottom: 15px;
    padding-top: 37px;
    font-size: 2em;
    color: #53a060;
}

.slider_desc span{
    font-size: 1.2em;
    font-weight: bold;
}

.slider_desc p{
    margin-top: 18px;
}

.slider_desc button{
    font-family: IRANSans;
    background: linear-gradient(135deg,#9ff669 0%,#31de79 100%);
    border: 1px solid #31de79!important;
    height: 51px;
    width: 200px;
    border-radius: 30px;
    color: #fff;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
}

.slider_pic{
  width: 50%; 
  vertical-align: top;
  font-size: 0; 
  height: 753px;

}

.slider_pic a img{
    width: 100%;
    height: 100%;
}

/* film section */


.film_section{
    display: flex;
    position: relative;
    background: rgb(248, 255, 247);
    align-items: center;
    min-height: 690px;
}


.film_section .film_menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width:23%;
    top: 0px;
    background: #53a060;
    padding: 95px 0px;
    bottom: -60px;
    z-index: 1;
}

.film_menu > li{
    padding: 21px 24px;
    display: flex;
    align-items: center;
    
}

.film_menu i{
    color: white;
    padding:0 8px;
    font-size: 1.2em;
}

.film_menu > li > a{
    position: absolute;
    color: white;
    font-size: 1.2em; 
    padding: 0px 35px;   
}

.film_menu > li > a:hover{
     color: #c6c6c6;
}

.film_menu > li i .fa .fa-film:hover{
     color: #c6c6c6;
}

.film_menu > li:hover{
    cursor: pointer;
}


.film_menu > li:hover::after{
    font-family: "Font Awesome 5 Free";
    position: absolute;
    content: "\f0da";
    font-weight: 700;
    color: #c6c6c6;
    font-size: 30px;
    transition: all ease 0.9s;
    left: 0px;

}

.film_section .film_desc{
    width: 50%;
    position: absolute;
    left: 91px;
    top: 90px;  
}

.film_desc img{
    padding: 40px 0px;
}

.film_desc h2{
    padding-bottom: 15px;
    font-size: 1.7em;
}

.film_desc button{
    font-family: IRANSans;
    background: linear-gradient(135deg,#9ff669 0%,#31de79 100%);
    border: 1px solid #31de79!important;
    height: 51px;
    width: 200px;
    border-radius: 30px;
    color: #fff;
    position: relative;
    margin-top: 42px;
    cursor: pointer;
}

/* film section part2 */


.film_section2{
    position: relative;
    height: 625px;
    background: #fff url(../images/film2.jpg) no-repeat center center;
    background-size: cover;

}

.film_section2 .film_sec_left{
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.film_section2 .film_services{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 0.9px;

}

.film_section2 .film_services:hover{
    margin-right: -15%;
    transition: all ease 0.4s;
}

.film_services i{
    color: #53a060;
    position: relative;
    padding: 50px 26px;
    font-size: 20px;
    opacity: 0.7;
}

.film_services .desc{
    padding: 24px 0px;


}


.film_services .desc h2{
    color: #53a060;
    padding: 10px 0px;
}

.film_services .desc p{
    color: #000000;
    padding: 14px 3px;
}

/* music section */

.music{
    position: relative;
    height: 900px;
    background: rgb(248, 255, 247);
    display: flex;
    flex-direction: column;

}

.music_desc h5{
    font-size: 16px;
    color: #53a060;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 110px;
}

.music_desc h2{
    font-size: 1.7em;
    text-align: center;
    margin-top: 15px;
}

.music_desc p{
    color: #879fa9;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 60px;
}

.music_slider{
    direction: ltr;
    display: flex;
    height: 369px;
    position: relative;
}

.music_pic_parent1,.music_pic_parent2,.music_pic_parent3{
  width: 328px;
  margin: 0 15px;
  overflow: hidden;
}
.music_pic1{
    width: 100%;
    height:369px;
    background-color: black; 
    background-image: url("../images/music1.jpg");
    background-position: center;
    background-size: cover;
    transition: all .4s;
}

.music_pic2{
    width: 100%;
    height:369px;
    background-color: black;
    background-image: url("../images/music2.jpg");
    background-position: center;
    background-size: cover;
    transition: all .4s;
}

.music_pic3{
    width: 100%;
    height:369px;
    background-color: black;
    background-image: url("../images/music3.jpg");
    background-position: center;
    background-size: cover;
    transition: all .4s;
}

.music_pic_parent1:hover .music_pic1,.music_pic_parent2:hover .music_pic2,.music_pic_parent3:hover .music_pic3,
.music_pic_parent1:focus .music_pic1,.music_pic_parent2:focus .music_pic2,.music_pic_parent3:focus .music_pic3 {
  transform: scale(1.2);
}


.music_pic1::before,.music_pic2::before,.music_pic3::before {
    content: "لورم ایپسوم";
    display: none;
    color: white;
    text-align: center;
    padding-top: 25px;
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(97, 177, 87, 0.75);
    transition: all .8s ease;
  }
  
  .music_pic_parent1:hover .music_pic1:before,.music_pic_parent2:hover .music_pic2:before,.music_pic_parent3:hover .music_pic3:before,
  .music_pic_parent1:focus .music_pic1:before,.music_pic_parent2:focus .music_pic2:before,.music_pic_parent3:focus .music_pic3:before {
    display: block;
  }


/* book section */

.book{
    position: relative;
    height: 720px;
    background: #fff;
    display: flex;
}

.book .book_pic{
    background-image: url("../images/book3.jpg");
    position: absolute;
    height: 100%;
    width: 28%;
    background-size: cover;
    margin-right: 150px;
}

.book .book_desc{
    position: absolute;
    left: 0;
    width: 58%;
}

.book_desc h5{
    color: #53a060;
    margin-top: 100px;
    font-size: 1.1em;
    letter-spacing: 2px;
}

.book_desc h2{
    margin-top: 15px;
    font-size: 1.9em;
    letter-spacing: 1px;
}

.book_desc p{
    margin-top: 35px;
    padding-left: 210px;
}

.book_desc span{
    background: rgba(97, 177, 87, 1);
    position: absolute;
    width: 420px;
    height: 130px;
    padding-right: 220px;
    padding-top: 45px;
    font-size: 1.4em;
    margin-top: 46px;
    margin-right: -125px;
    font-weight: bold;
}

/* book section part2 */

.book2{
    height: 740px;
    position: relative;
    padding: 60px 0;
}

/* .book2_desc{

} */

.book2_desc h5{
    text-align: center;
    margin-top: 70px;
    font-size: 1.1em;
    letter-spacing: 2px;
    color: #53a060;
}

.book2_desc h2{
    font-size: 1.8em;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 18px;
}

.book2_desc p{
    color: #879fa9;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;

}

.book2_pic{
    display: flex;
}

.top_book{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_book img{
    border-radius: 50%;
    height: 150px;
    padding: 0 57px;
}

.top_book h3{
    margin: 15px 0;
    letter-spacing: 1px;
}

.top_book h5{
    font-size: 1.1em;
    letter-spacing: 1px;
    color: #53a060;
}

/* news section */

.news{
    position: relative;
    height: 890px;
    background: #53a060;
direction: ltr;
}

.news_header h2{
    color: white;
    font-size: 2em;
    padding: 95px 0px 89px 0;
    text-align: center;
}

.news_items{
    display: flex;
    position: relative;
}

 .news_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 17px;
}

.news_box img{
    border-radius: 50%;
    height: 130px;
    z-index: 1;
    border:10px solid #53a060;
}

.news_box i{
    border-radius: 50%;
    background:linear-gradient(135deg,#9ff669 0%,#31de79 100%);
    height: 40px;
    width: 40px;
    font-size: 25px;
    color: white;
    bottom: 94px;
    left: 50px;
    padding: 8px 15px;
    margin-top: -38px;
    margin-right: -75px;
    z-index: 10;
}

.news_box p{
    background: white;
    box-shadow: 0 42px 29px -31px rgba(0,0,0,.05);
    color: #5f5e5e;
    padding: 122px 26px 65px 26px;
    text-align: center;
    margin-top: -65px;
    border-radius: 5px;
}

/* membership section */


.membership{
    height: 860px;
    position: relative;
    background: rgb(248, 255, 247);
}

.membership h2{
    font-size: 1.8em;
    text-align: center;
    padding: 90px 0 70px 0;
}

.membership .membership_form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.membership_form .form_item{
    height: 50px;
    outline: none;
    width: 50%;
    color: #495057;
    padding-right: 10px;
    margin: 12px 0;
    border: 1px #d0d5d8 solid;
    border-radius: 5px;
    position: relative;
}

.membership_form .form_item_textarea{
    height: 200px;
    outline: none;
    width: 50%;
    color: #495057;
    padding-right: 10px;
    margin: 12px 0;
    border: 1px #d0d5d8 solid;
    border-radius: 5px;
    position: relative;
}

.membership_form textarea{
    resize: vertical;
    overflow: auto;

}

.membership_form .form_btn{
    background: linear-gradient(135deg,#9ff669 0%,#31de79 100%); 
    border: 1px solid #31de79!important;
    height: 51px;
    width: 200px;
    border-radius: 30px;
    color: #fff;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
}

/* footer section */

.footer{
    position: relative;
    background: #000000;
    height: 650px;
}

.footer_items{
    display: flex;
}

.footer_aboutus{
    width: 30%;
    color: #fff;
    padding: 130px 0;
}

.footer_heading{
    padding-bottom: 40px;
}

.footer_aboutus p{
    color: rgba(255,255,255,.7);
    line-height: 30px;
}



.footer_social i{
    font-family: "Font Awesome 5 brands";  
    font-size: 1.3em;
    color: rgba(255,255,255,.7);
    margin: 20px 0 0 20px;
    background: #2d2d2c;
    border-radius: 50%;
    padding: 10px;
    
}

.footer_links{
    width: 33%;
    color: white;
    padding: 130px 100px;
    display: flex;
    flex-direction: column;
    
}
.footer_links a{
    color: rgba(255,255,255,.7);
    padding: 7px 0;

}
.footer_links a i { 
margin-left: 10px;

}

.footer_contact{
    width: 33%;
    color: rgba(255,255,255,.7);
}

.footer_contact h2{
    margin-top: 130px;
    color: #fff;
}

.footer_contact i{
    color: rgba(255,255,255,.7);
    padding: 10px;
}

.copyright{
    color: rgba(255, 255, 255, 0.233);
    text-align: center;
}
